/* Application wide styles */
.label {
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}
/* Component specific styles */
.hello-message {
	-fx-text-fill: #AA0000;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}